<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumuchang.dongqu.mapper.order.SesameAddressMapper">

    <update id="updateToNotDefaultAddrByUserId">
        UPDATE sesame_address
        SET is_default = 0
        WHERE del_flag = 1
        AND user_id = #{userId}
        AND is_default = 1
    </update>

    <select id="getAddressDetail" resultType="com.zhumuchang.dongqu.api.dto.order.resp.RespAddressDetailDto">
        SELECT
            open_id AS addressOpenId,
            consignee_name,
            consignee_phone,
            `province`,
            `city`,
            `area`,
            `street`,
            detailed_address,
            is_default
        FROM
            sesame_address
        WHERE
            del_flag = 1
            AND user_id = #{userId}
            AND open_id = #{addressOpenId}
    </select>

    <select id="pageAddress" resultType="com.zhumuchang.dongqu.api.dto.order.resp.RespAddressDetailDto">
        SELECT
            open_id AS addressOpenId,
            consignee_name,
            consignee_phone,
            `province`,
            `city`,
            `area`,
            `street`,
            detailed_address,
            is_default
        FROM
            sesame_address
        WHERE
            del_flag = 1
            AND user_id = #{userId}
        ORDER BY
            updated_time DESC
    </select>
</mapper>
