<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumuchang.dongqu.mapper.commodity.SesameCommodityMapper">
    <update id="updateEnableById">
        UPDATE sesame_commodity
        SET `enable` = #{enable} AND updated_id = #{userId} AND updated_name = #{userName}
        WHERE `id` = #{id}
    </update>
    <update id="delCommodityByOpenId">
        UPDATE sesame_commodity
        SET `del_flag` = 0 AND updated_id = #{userId} AND updated_name = #{userName}
        WHERE open_id = #{commodityOpenId}
    </update>

    <select id="commodityDetail"
            resultType="com.zhumuchang.dongqu.api.dto.commodity.resp.RespCommodityDetailDto">
        SELECT
            open_id,
            `name` AS commodityName,
            `price` AS commodityPrice,
            `introduce`,
            `thumbnail`,
            picture_json,
            limit_buy,
            created_name,
            created_time
        FROM
            sesame_commodity
        WHERE
            del_flag = 1
            AND open_id = #{openId}
    </select>
    <select id="countByShopId" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            sesame_commodity
        WHERE
            del_flag = 1
            AND sesame_shop_id = #{shopId}
    </select>
    <select id="getDtoByOpenId" resultType="com.zhumuchang.dongqu.api.dto.commodity.CommodityDto">
        SELECT
            `id`,
            sesame_shop_id,
            sesame_category_id,
            `enable`
        FROM
            sesame_commodity
        WHERE
            del_flag
            AND open_id = #{commodityOpenId}
    </select>
    <select id="getShopIdByOpenId" resultType="java.lang.Integer">
        SELECT
            sesame_shop_id
        FROM
            sesame_commodity
        WHERE
            del_flag = 1
            AND open_id = #{commodityOpenId}
    </select>
    <select id="commodityPageByShopId"
            resultType="com.zhumuchang.dongqu.api.dto.commodity.resp.RespCommodityPageDto">
        SELECT
            sc.open_id AS commodityOpenId,
            sc.thumbnail,
            sc.`name` AS commodityName,
            sc.`price`
        FROM
            sesame_commodity sc
            <if test="categoryId != null">
                LEFT JOIN sesame_commodity_category_sort cs ON sc.`id` = cs.sesame_commodity_id
            </if>
        WHERE
            sc.del_flag = 1
            AND sc.sesame_shop_id = #{shopId}
            <if test="categoryId != null">
                AND cs.sesame_category_id = #{categoryId}
            </if>
        ORDER BY
            <choose>
                <when test="categoryId != null">
                    cs.`sort`
                </when>
                <otherwise>
                    sc.created_time DESC
                </otherwise>
            </choose>

    </select>
    <select id="checkClerkAllowCommodityByOpenId" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            sesame_commodity sco
            LEFT JOIN sesame_clerk scl ON sco.sesame_shop_id = scl.sesame_shop_id
        WHERE
            sco.del_flag = 1
            AND scl.del_flag = 1
            AND sco.open_id = #{commodityOpenId}
            AND scl.sesame_user_id = #{userId}
    </select>
</mapper>
