<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumuchang.dongqu.mapper.commodity.SesameCommodityMapper">

    <select id="commodityDetail"
            resultType="com.zhumuchang.dongqu.api.dto.commodity.resp.RespCommodityDetailDto">
        SELECT
            open_id,
            `name` AS commodityName,
            `price` AS commodityPrice,
            `introduce`,
            `thumbnail`,
            picture_json,
            limit_buy,
            created_name,
            created_time
        FROM
            sesame_commodity
        WHERE
            del_flag = 1
    </select>
    <select id="countByShopId" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            sesame_commodity
        WHERE
            del_flag = 1
            AND sesame_shop_id = #{shopId}
    </select>
</mapper>
