<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumuchang.dongqu.mapper.commodity.SesameCommoditySpecificationsMapper">

    <select id="getSpecificationsNameListByCommodityId" resultType="java.lang.String">
        SELECT
            `name`
        FROM
            sesame_commodity_specifications
        WHERE
            del_flag = 1
            AND sesame_commodity_id = #{commodityId}
    </select>

    <select id="getByOpenId" resultType="com.zhumuchang.dongqu.api.dto.commodity.SpecificationsDto">
        SELECT
            `id`,
            open_id AS openId,
            sesame_commodity_id AS sesameCommodityId,
            sesame_commodity_open_id AS sesameCommodityOpenId,
            sesame_shop_id AS sesameShopId,
            sesame_shop_open_id AS sesameShopOpenId,
            `price`,
            `name`,
            `thumbnail`
        FROM
            sesame_commodity_specifications
        WHERE
            del_flag = 1
            AND open_id = #{specificationsOpenId}
    </select>

    <resultMap id="testListMap" type="com.zhumuchang.dongqu.api.dto.order.resp.ConfirmOrderShopListDto">
        <result property="shopName" column="shopName"/>
        <collection property="commodityList" ofType="com.zhumuchang.dongqu.api.dto.order.resp.ConfirmOrderCommodityListDto">
            <result property="commodityThumbnail" column="commodityThumbnail"/>
            <result property="commodityName" column="commodityName"/>
            <result property="commodityPrice" column="commodityPrice"/>
            <result property="specificationsName" column="specificationsName"/>
            <result property="specificationsOpenId" column="specificationsOpenId"/>
        </collection>
    </resultMap>

    <select id="getDtoByOpenId" resultMap="testListMap">
        SELECT
            scs.`thumbnail` AS commodityThumbnail,
            sc.`name` AS commodityName,
            sc.`price` AS commodityPrice,
            scs.`name` AS specificationsName,
            ss.`name` AS shopName,
            scs.`open_id` AS specificationsOpenId
        FROM
            sesame_commodity_specifications scs
            LEFT JOIN sesame_commodity sc ON scs.sesame_commodity_id = sc.`id`
            LEFT JOIN sesame_shop ss ON scs.sesame_shop_id = ss.`id`
        WHERE
            scs.del_flag = 1
            AND sc.del_flag = 1
            AND sc.`enable` = 1
            AND scs.open_id IN
            <foreach collection="param" item="item" separator="," open="(" close=")">
                #{item.specificationsOpenId}
            </foreach>

    </select>
</mapper>
