<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumuchang.dongqu.mapper.commodity.SesameCategoryMapper">
    <update id="updateEnableById">
        UPDATE sesame_category
        SET `enable` = #{enable}, update_id = #{updateId}
        WHERE `id` = #{categoryId}
    </update>

    <update id="delCategoryByOpenId">
        UPDATE sesame_category
        SET del_flag = 0, update_Id = #{updateId}
        WHERE open_id = #{openId}
    </update>

    <select id="countByNotDel" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            sesame_category
        WHERE
            del_flag = 1
    </select>

    <select id="countByName" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            sesame_category
        WHERE
            del_flag = 1
            AND `name` = #{name}
    </select>

    <select id="getByOpenId" resultType="com.zhumuchang.dongqu.api.bean.commodity.SesameCategory">
        SELECT
            `id`,
            `enable`
        FROM
            sesame_category
        WHERE
            del_flag = 1
            AND open_id = #{openId}
    </select>
    <select id="categoryPage" resultType="com.zhumuchang.dongqu.api.dto.commodity.resp.RespCategoryPageDto">
        SELECT
            open_id,
            `name` AS categoryName,
            `enable` AS categoryEnable,
            created_name,
            created_time
        FROM
            sesame_category
        WHERE
            del_flag = 1
            <if test="categoryName != null and categoryName != ''">
                AND `name` LIKE CONCAT('%', #{categoryName}, '%')
            </if>
            <if test="categoryEnable != null ">
                AND `enable` = #{categoryEnable}
            </if>
            <if test="startTime != null ">
                AND <![CDATA[DATE_FORMAT(created_time,'%Y-%m-%d') >= DATE_FORMAT(#{startTime},'%Y-%m-%d') ]]>
            </if>
            <if test="endTime != null ">
                AND <![CDATA[DATE_FORMAT(created_time,'%Y-%m-%d') <= DATE_FORMAT(#{endTime},'%Y-%m-%d') ]]>
            </if>
        ORDER BY
            created_time DESC
    </select>
    <select id="categoryDetailByOpenId"
            resultType="com.zhumuchang.dongqu.api.dto.commodity.resp.RespCategoryPageDto">
        SELECT
            open_id,
            `name` AS categoryName,
            `enable` AS categoryEnable,
            created_name,
            created_time
        FROM
            sesame_category
        WHERE
            open_id = #{openId}
            AND del_flag = 1
    </select>
</mapper>
