<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumuchang.dongqu.mapper.commodity.SesameCommoditySpecificationsMapper">

    <select id="getSpecificationsNameListByCommodityId" resultType="java.lang.String">
        SELECT
            `name`
        FROM
            sesame_commodity_specifications
        WHERE
            del_flag = 1
            AND sesame_commodity_id = #{commodityId}
    </select>

    <select id="getByOpenId" resultType="com.zhumuchang.dongqu.api.dto.commodity.SpecificationsDto">
        SELECT
            `id`,
            open_id AS openId,
            sesame_commodity_id AS sesameCommodityId,
            sesame_commodity_open_id AS sesameCommodityOpenId,
            sesame_shop_id AS sesameShopId,
            sesame_shop_open_id AS sesameShopOpenId,
            `price`,
            `name`,
            `thumbnail`
        FROM
            sesame_commodity_specifications
        WHERE
            del_flag = 1
            AND open_id = #{specificationsOpenId}
    </select>
</mapper>
