<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumuchang.dongqu.mapper.SesameMapper">

    <select id="getIdByOpenId" resultType="java.lang.Integer">
        SELECT
            `id`
        FROM
            #{tableName}
        WHERE
            #{openId}
    </select>

    <select id="getNotDelIdByOpenId" resultType="java.lang.Integer">
        SELECT
            `id`
        FROM
            ${tableName}
        WHERE
            open_id = #{openId}
            AND del_flag = 1
    </select>
</mapper>
